# Ignore everything
*

# But not these files...
!.gitignore

# if the files to be tracked are in subdirectories
!*/src/ML-PACE/pair_pace.cpp
!*/src/ML-PACE/pair_pace.h
!*/src/ML-PACE/ace_evaluator.cpp
!*/src/atom.h
!*/src/EXTRA-FIX/fix_ttm_mod.cpp
!*/src/modify.cpp
!*/src/output.cpp
!*/src/thermo.cpp
!*/src/verlet.cpp
!*/src/domain.cpp